/* ===== CONTENEDOR PRINCIPAL ===== */
.site-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fbb9d6;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

/* ===== CARD ===== */
.site-card {
  background: #f3c9e4;
  width: 100%;
  max-width: 420px;
  padding: 28px 22px;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
  text-align: center;
}

/* ===== AVATAR ===== */
.site-avatar {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto 14px;
}

/* ===== NOMBRE ===== */
.site-name {
  font-size: 26px;
  font-weight: 700;
  margin: 10px 0 6px;
}

/* ===== BIO ===== */
.site-bio {
  font-size: 15px;
  color: #4803e9;
  margin-bottom: 18px;
}

/* ===== ICONOS SOCIALES ===== */
.social-icons {
  display: flex;
  justify-content: center;
  gap: 14px;
  margin-bottom: 22px;
}

.social-icons a {
  font-size: 22px;
  color:  #4803e9;
  transition: transform 0.2s ease, color 0.2s ease;
}

.social-icons a:hover {
  transform: scale(1.15);
  color: #d2f606;
}

/* ===== BOTONES ===== */
.site-button {
  display: flex;              /* clave */
  align-items: center;        /* centra verticalmente el texto */
  justify-content: center;    /* centra horizontalmente */
  width: 100%;
  padding: 16px 18px;
  margin: 12px 0;

  background: rgb(225, 223, 223);
  color: #111;
  font-weight: 600;
  font-size: 16px;

  border-radius: 999px;
  border: none;
  text-decoration: none;

  cursor: pointer;
  box-sizing: border-box;     /* MUY importante */
}